.notfound-copy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* adjust the height as per your requirement */
  }
  
  .notfound-copy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .notfound-copy div{
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: 4;
    bottom: 10%;
    border-radius: 15px;
  }
  .notfound-copy h1 {
    z-index: 4;
    color: #fff; /* change the text color as per your requirement */
    padding: 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scrollToTopButton {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    border-radius: 50%;
    z-index: 200;
    transition: background-color 0.3s ease;
}

.scrollToTopButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
